[type="radio"] {
  display: none;
}

.capsules-section {
  max-width: 1200px;
  margin: auto;
  padding: 4rem 2rem;
}

.capsules-section h1 {
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 40px;
}

.nav-pills {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

.nav-pill {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 500;
  background-color: #cccccc72;
  color: #231942;
}

.nav-pill.active {
  color: var(--primary-color);
  background: linear-gradient(270deg, #ffe5d9 0%, #f0d7ff 100%);
}

#slider {
  height: 30vw;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}

#slider label {
  margin: auto;
  width: 60%;
  border-radius: 4px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: transform 0.4s ease, background 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #ccc;
  border: 1px solid #fff;
  border-radius: 20px;
}

#slider .active-slide {
  background-color: #7965f3;
  background-image: linear-gradient(
    230deg,
    #ffebe37a,
    #fff0 39.21%,
    #fffeff0d 53.06%,
    #f0d7ff7a 81.99%
  );
}

.slide-content {
  width: 648px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  height: 400px;
  padding: 20px 25px 20px 20px;
  text-align: center;
  transition: transform 0.5s, opacity 0.5s;
}

.slide-title {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  display: flex;
}

.slide-icon {
  border: 1px solid #fff;
  background-image: radial-gradient(circle at 204% 135%, #ffffff7d, #ffffff12);
  border-radius: 13px;
  justify-content: center;
  align-items: center;
  width: 50px;
  min-width: 50px;
  height: 50px;
  display: flex;
  padding: 5px;
}

.slide-icon img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
  filter: invert(1) brightness(100%);
}

.title h2 {
  color: #fff;
  letter-spacing: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 58px;
}

.slide-services {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
}

.slide-services li {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ffe5d9;
  border-radius: 41px;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  display: flex;
  color: #303030;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1250px) {
  .capsules-section {
    margin-bottom: 6rem;
  }
}

@media (max-width: 992px) {
  .capsules-section {
    margin-bottom: 10rem;
  }

  .slide-content {
    gap: 1rem;
  }

  .slide-services {
    gap: 0.5rem;
    padding: 5px 1rem;
  }
}
@media (max-width: 860px) {
  .nav-pills {
    gap: 10px;
  }

  .nav-pill {
    padding: 7px 14px;
    margin: 0;
  }

  .slide-services li {
    text-align: left;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .slide-title {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 5px;
  }

  /* .slide-icon {
    width: 30px;
    min-width: 30px;
    height: 30px;
  } */

  .slide-icon img {
    max-width: 80%;
  }

  .title h2 {
    font-size: 18px;
  }

  .slide-services {
    gap: 0.5rem;
    padding: 0;
  }
}

@media (max-width: 690px) {
  .nav-pills {
    justify-content: flex-start;
  }

  .slide-content {
    height: auto;
    width: 90% !important;
  }

  #slider label {
    margin: auto;
    width: 95%;
    position: relative;
    min-height: 300px;
    align-items: flex-start;
  }

  .capsules-section {
    padding: 2rem 1rem;
  }

  #slider .slide:not(.active-slide) {
    display: none;
  }

  .title {
    font-size: 22px;
  }

  .slide-services li {
    text-align: left;
    font-size: 14px;
  }
}

@media (max-width: 580px) {
  .capsules-section {
    margin-bottom: 12rem;
  }
}

@media (max-width: 520px) {
  .capsules-section {
    margin-bottom: 16rem;
  }

  #slider label {
    min-height: 400px;
  }
}

@media (max-width: 460px) {
  .capsules-section {
    margin-bottom: 20rem;
  }
}
